.gallery-title {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 200;
  color: #000000bf;
  text-align: center;
  margin-top: 30px;
}
.navbar__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.nav-btn {
  font-size: 19px;
  font-weight: 100;
  text-transform: capitalize;
  color: #000000e3;
  border: none;
  padding: 5px 9px;
  background-color: yellow;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
  cursor: pointer;
}
.nav-btn:hover {
  background-color: grey;
}
.main_section {
  width: 1100px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card__box {
  width: 350px;
  height: 150px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  margin-bottom: 40px;
  cursor: pointer;
}
.image__container {
}
.image-- {
  width: 100px;
  object-fit: cover;
}
.content__container {
  margin: 3px 15px;
}
.content__title {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 200;
  color: #000000a8;
}
.content__description {
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 4px;
}
.price__box {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}
.price__title {
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
  color: #000000cc;
}
.price__btn {
  background-color: #0000ffd4;
  border: none;
  padding: 3px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 3px;
}
.price__btn:hover {
  background-color: grey;
}
.card__box:hover {
  transform: scale(0.7);
}
