.heading__container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.heading__title {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
  color: #000000a8;
}
/* .slot__machine {
  font-size: 35px;
  font-weight: 900;
  text-transform: capitalize;
}

.section__conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 70vh;
} */
